body {
  background-color: #f2dac9;
}

.container {
  display: block;
  max-width: 600px;

  border-color: #f2dac9;
  background-color: #f4eed8;
  margin: 60px auto;
  border-radius: 5px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #8c6250;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4e6d3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.time {
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  color: #8c6250;
  padding: 10px;
  background-color: #f4e6d3;
  border-top: 1px solid #f2dac9;
  border-radius: 0 0 5px 5px;
}

a {
  color: #d9987c;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #5f473d;
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.5;
}
